{% extends "amebo.html" %}
{% block content %}
<style>
.pool{
	text-align: center;
	transform: translate(0%,70%);
	font-size: 20px;
}

</style>
<div class="pool">
<p> Laycon is one of the housemates in big brother naija season 5 themed lockdown.<br>

Laycon is one of the most underrated housemates in the big brother house but not by the <br>fans. Laycon probably has the strongest fanbase among all the season 5 housemates with almost 400k followers on instagram.<br> it didnt take more than two weeks in the hiuse before<br>Laycon got verified on Instagram. His fans popularly called Icons. He is one of the <br>smartest housemates and many of the housemates has tagged him the most intelligent in the<br>house.<br>

Speaking of fans, there is hardly a day Laycon won't trend on twitter. He had released an<br> EP few weeks before the start of big brother season 5 which made him loved by fans.<br> The sky seems to be the limit for this young man even if he doesnt win bbnaija.<br>

Laycon has a one sided attraction for a female housemate named Erica<br>

To vote for Laycon text Laycon to 32052</p>
</div> 

{% endblock content %}